# Ignoriere die Unter-Repos (weil diese eigene Repos sind)
20_projekte/sa_conformis/
20_projekte/app_runningapp/

# System-Müll & Obsidian-Cache
.DS_Store
Thumbs.db
.obsidian/workspace.json
.obsidian/graph.json
.obsidian/workspace-mobile.json
